<% provide :title, "Hacker News Clone" %>



<h1><%= yield :title %></h1>

<h2>A user-contributed news discovery site.</h2>

<table class="table">
  <tr>
    <td>URL</td>
    <td>Description</td>
    <td>Vote Up</td>
    <td>Vote Down</td>
    <td>Total</td>
    
  </tr>
  <% @links.each do |link| %>
    <tr>
      <td><%= link_to link.url, "#{link.url}"  %></td>
      <td><%= link.description  %></td>
      <td><%= link_to 'Vote Up', link_votes_path(link, :vote => {:up_down => 1}), :method => :post, :class => 'btn btn-primary' %></td>
      <td><%= link_to 'Vote Down', link_votes_path(link, :vote => {:up_down => -1}), :method => :post, :class => 'btn btn-primary' %></td>
      <td><%= link.count_votes %></td>
   </tr>
  <% end %>
</table>

<p><%= link_to 'Add link', new_link_path, :class => 'btn btn-primary' %></p>