<!DOCTYPE html>
<html>
<head>
  <div class="container">
    <div id="user_header">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log Out", logout_path, method: "delete" %>
      <% else %>
        <%= link_to "Sign Up", signup_path, :class => 'btn btn-primary btn-small' %>
        <%= link_to "Log In", login_path, :class => 'btn btn-success btn-small' %>
      <% end %>
    </div>
  </div>
  <title>Hacker News Clone | <%= yield :title %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 <body>

  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-error"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
